<div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header custom-card"><h3>Usuarios</h3></div>
          <div class="card-body">
            <div class="table-responsive">
                <table class="table-usuarios table-bordered table-striped">
                    <thead class="table-info">
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Perfil</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Iterar sobre la lista de usuarios -->
                      <tr *ngFor="let usuario of usuarios">
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.usuario }}</td>
                        <td>
                            <button 
                              type="button" 
                              class="toggle-btn" 
                              [class.active]="usuario.estatus === 1"
                              (click)="cambiarEstatus(usuario)">
                              <span class="toggle-circle"></span>
                            </button>
                          </td>
                          <td>
                            <app-select-option-perfiles 
                              [options]="perfiles"
                              [selectedValue]="usuario.idPerfil ?? 0"
                              (selectionChange)="cambiarPerfil(usuario.id, $event)">
                            </app-select-option-perfiles>
                          </td>
                          
                          

                        
                      </tr>
                    </tbody>
                  </table>
                  
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
  
  
  
    </div>
    