<div class="container-fluid mt-4">

  <div class="row">
    <div class="col-md-12">
      <!-- OtroComponente.component.html -->
        <app-formulario-filtros-consulta (pedidosEncontrados)="recibirPedidosFiltrados($event)"></app-formulario-filtros-consulta>
    </div>
  </div>
  <div class="row"><br></div>

  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header custom-card"><h3>Pedidos</h3></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table-pedidos table-bordered table-striped">
              <thead class="table-info">
                <tr>
                  <th scope="col">No.</th> <!-- Nueva columna para numeración -->
                  <th scope="col">Orden de Compra</th>
                  <th scope="col">Región</th>
                  <th scope="col">Tipo de Orden</th>
                  <th scope="col">Fecha de Orden</th>
                  <th scope="col">Fecha de Entrega</th>
                  <th scope="col">Hora de Entrega</th>
                  <th scope="col">Elaborado Por</th>
                  <th scope="col">Total Orden</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <!-- Iterar sobre la lista de pedidos con índice -->
                <tr *ngFor="let pedido of pedidos; let i = index">
                  <td>{{ i + 1 }}</td> <!-- Número de fila -->
                  <td>{{ pedido.ordenCompra }}</td>
                  <td>{{ pedido.region }}</td>
                  <td>{{ pedido.tipoOrdenCompra }}</td>
                  <td>{{ pedido.fechaOrden | date: 'yyyy-MM-dd' }}</td>
                  <td>{{ pedido.fechaEntrega | date: 'yyyy-MM-dd' }}</td>
                  <td>{{ pedido.horaEntrega }}</td>
                  <td>{{ pedido.elaboradoPor }}</td>
                  <td>{{ pedido.totalGlobal | currency }}</td>
                  <td>
                    <button class="btn btn-info btn-sm" (click)="detallePedido(pedido.id, 'Región: ' +pedido.region+ ' - Orden de Compra: ' + pedido.ordenCompra)">
                      <i class="bi bi-list-task"></i>
                    </button>
                    <!-- <button class="btn btn-success btn-sm" (click)="confirmarPedido(pedido.id)">
                      <i class="bi bi-bookmark-check-fill"></i>
                    </button> -->
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-5">          
      <div class="card sticky-div">
        <div class="card-header custom-card">
          <h3>Detalles de Pedido</h3>
          <small *ngIf="descripcionPedido">{{ descripcionPedido }}</small>
        </div>
        <div class="card-body">

          <!-- Mostrar los detalles del pedido -->
          <div class="table-responsive">
            <table class="table-pedidos table-bordered table-striped" *ngIf="detallePedidoPartidas.length > 0">
              <thead class="table-info">
                <tr>
                  <th scope="col">Clave Material</th>
                  <th scope="col">Codigo Barras</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Empaque</th>
                  <th scope="col">Cantidad Pall</th>
                  <th scope="col">Cajas</th>
                  <th *ngIf="layoutValido"  scope="col" class="columna-calculada">Cantidad Pedido</th>
                  <th scope="col">Total Costo</th>
                </tr>
              </thead>
              <tbody>
                <!-- Iterar sobre los detalles del pedido -->
                  <tr *ngFor="let detalle of detallePedidoPartidas"
                      [ngClass]="{
                        'fila-invalida': 
                          detalle.datosSAP?.normaEmpaque?.piezasCaja === 0 ||
                          detalle.datosSAP?.normaEmpaque?.piezasTarima === 0 ||
                          detalle.datosSAP?.normaEmpaque?.cajasTarima === 0,
                        'fila-valida': 
                          detalle.empaqueCliente === detalle.datosSAP?.normaEmpaque?.piezasTarima
                      }">
                  <td>{{ detalle.claveMaterialCliente }}</td>
                  <td>{{ detalle.codigoBarrasCliente }}</td>
                  <td>{{ detalle.descripcionCliente }}</td>
                  <td>{{ detalle.empaqueCliente }}</td>
                  <td>{{ detalle.cantidadCliente }}</td>
                  <td>{{ detalle.totalCajasCliente }}</td>
                  <td *ngIf="layoutValido" class="columna-calculada">{{(detalle.empaqueCliente ?? 0) * (detalle.cantidadCliente ?? 0) }}</td>
                  <td>{{ detalle.totalCostoCliente | currency }}</td>
                </tr>

                <!-- Fila para mostrar la suma de totalCostoCliente -->
                <tr class="table-total">
                  <!-- <td colspan="7" class="text-end"><strong>Total:</strong></td> -->
                  <td [attr.colspan]="layoutValido ? 7 : 6" class="text-end">
                    <strong>Total:</strong>
                  </td>

                  <td><strong>{{ sumaTotalCosto | currency }}</strong></td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Mensaje si no hay detalles -->
          <div *ngIf="detallePedidoPartidas.length === 0">
            <p>No se han cargado detalles del pedido.</p>
          </div>

          <br>
          
            <div class="table-responsive">
              <table class="table-pedidos table-bordered table-striped" *ngIf="detallePedidoPartidas.length > 0">
                <thead class="table-info">
                  <tr>
                    <th colspan="6" class="table-secondary text-center">Datos SAP - Sociedad 2000</th>
                  </tr>
                  <tr>
                    <th scope="col">Sociedad</th>
                    <th scope="col">Clave Material SAP</th>
                    <th scope="col">Nombre Material SAP</th>
                    <th scope="col">Piezas por Caja</th>
                    <th scope="col">Cajas por Tarima</th>
                    <th scope="col">Piezas por Tarima</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let detalle of detallePedidoPartidas"
                      [ngClass]="{
                        'fila-invalida': 
                          detalle.datosSAP?.normaEmpaque?.piezasCaja === 0 ||
                          detalle.datosSAP?.normaEmpaque?.piezasTarima === 0 ||
                          detalle.datosSAP?.normaEmpaque?.cajasTarima === 0,
                        'fila-valida': 
                          detalle.empaqueCliente === detalle.datosSAP?.normaEmpaque?.piezasTarima
                      }">
                    <td>{{ detalle.datosSAP?.sociedad }}</td>
                    <td>{{ detalle.datosSAP?.claveMaterial }}</td>
                    <td>{{ detalle.datosSAP?.nombreMaterial }}</td>
                    <td>{{ detalle.datosSAP?.normaEmpaque?.piezasCaja }}</td>
                    <td>{{ detalle.datosSAP?.normaEmpaque?.cajasTarima }}</td>
                    <td>{{ detalle.datosSAP?.normaEmpaque?.piezasTarima }}</td>

                  </tr>


                </tbody>
              </table>
              <br>
              <!-- Botón condicional con estilo Bootstrap e icono -->
              <button *ngIf="layoutValido" class="btn btn-success" (click)="layoutME21N()">
                <i class="bi bi-file-excel"></i> Layout Orden de Pedido ME21N
              </button>

            </div>


        </div>
      </div>

    </div>
  </div>




  </div>
  